<h1 class="title">import demo ng2</h1>
<nav>
  <a md-raised-button routerLink="/main" routerLinkActive="active">Home</a>
  <a md-raised-button [routerLink]="['progress', jid]" routerLinkActive="active">Progress</a>
  <a md-raised-button routerLink="/upload" routerLinkActive="active">Upload</a>
</nav>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>

<!--
<import-progress [id]="jid" (complete)="resetToken()" *ngIf="jid"></import-progress>

<companies></companies>

<div class="row">
  <div class="col-md-12">
    <uploader (uploaded)="storeToken($event)"></uploader>
  </div>
</div>
-->
